.container {
    
    position: absolute;
    top: 20rem;
    left: 30rem;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #67959a;
    border-radius: 5px;
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    width: 100%;
    padding: 8px;
    background-color: #c15764;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #3bb089;
}

.register-link {
    margin-top: 10px;
}

.img  {
  
    position: absolute;
    top: 7rem;
    left: 34rem;
}